@using Kendo.Mvc.UI.Fluent
@{
    ViewBag.Title = "Salespersons";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>

<html>
    <head>
        <title>Sales Team</title>
        <meta charset="utf-8" />
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=decive-width, intial-scale=1" /> 
                    
        <link rel="stylesheet" href="~/Views/Style/StyleSheet.css">

    
   
    </head>

<body>
    <h2>personel</h2>

        <div class="form-horizontal form-widgets col-sm-6">

            <div class="form-group">
                <label class="control-label col-sm-4" for="name">Name</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtname")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="lastname">Last Name</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtlastname")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="code">Code</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtcode")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="commission">Commission</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtcommission")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="Phone">phone Number</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtphone")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="mobile">Mobile</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtmobile")
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="address">Address</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().TextBox()
                    .Name("txtaddress")
                    )
                </div>
            </div>
            <div class="buttons-wrap" >
                <button id="test" onclick="myfunction()" >insert</button>
                <a id="stafflist" href="StaffList" >staff list</a>

            </div>
        </div>
</body>
</html>
<script type="text/javascript">
    function myfunction() {
        alert(2);
        $.ajax({
            type: 'POST',
            cache: false,
            url: '/Home/createSalesperson',
            dataType: 'json',
            data: {
                name: $("#txtname").val(),
                lastname: $("#txtlastname").val(),
                code: parseInt($("#txtcode").val()),
                commission: parseInt($("#txtcommission").val()),
                phone: $("#txtphone").val(),
                mobile: $("#txtmobile").val(),
                address: $("#txtaddress").val()

            },
            error: function () {
                alert('error')
            },
            success: function (result) {
                alert(1);

            }
        });
    }
</script>


